# Java
*.class

# Log files
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ / Eclipse / VS Code
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build tools
/build/
dist/
out/

# Test reports
surefire-reports/
test-output/

### Environment Variables ###
.env
.env.*
!.env.example
